<?xml version="1.0"?>
<config>
    <modules>
        <Elnogara_FirstHelper>
            <version>1.0.0</version>
        </Elnogara_FirstHelper>
    </modules>
    <global>
        <helpers>
            <elnogara_firsthelper>
                <class>Elnogara_FirstHelper_Helper</class>
            </elnogara_firsthelper>
        </helpers>
    </global>
    <frontend>
        <routers>
            <nogaraajudante>
                <use>standard</use>
                <args>
                    <module>Elnogara_FirstHelper</module>
                    <frontName>firsthelper</frontName>
                </args>
            </nogaraajudante>
        </routers>
    </frontend>
</config>